$hover-color: rgb(42,222,114);
$hover-color-l: rgb(10, 205, 88);
$main-color: rgb(254, 254, 254);
$footer-bg: rgb(245,245,245);
$footer-text:rgb(137,137,137);
$nav-hover:rgb(8,8,8);
$black-text: rgb(14, 14, 14);
$contact: rgb(84, 84, 84)
